[Unit]
Description=Agendamento diário do backup do Nextcloud

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
Unit=nextcloud-backup.service

[Install]
WantedBy=timers.target
